<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>SquiggleKit Web</title>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.1/css/bulma.css">
    </head>
    <body>
        <section class="section has-text-centered">
            <a href="/"><h1 class="title has-text-link">SquiggleKit Web</h1></a>
            <h2 class="subtitle">A web application to help with the display and analysis of Oxford Nanopore raw signal data.</h2>
        </section>

        <section class="hero has-text-centered">
            <div class="hero-body">
                <h1 class="title has-text-danger">ERROR</h1>
                <h1 class="subtitle has-text-danger">{{error}}</h1>
            </div>
        </section>
    </body>
</html>
